Jadet/Connected Services/AdministradorServicio/SernaSistemas.Jadet.WCF.Modelos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClienteRequest" nillable="true" type="tns:ClienteRequest" />
  <xs:complexType name="BaseRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseRequest" nillable="true" type="tns:BaseRequest" />
  <xs:complexType name="ClienteResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClienteResponse" nillable="true" type="tns:ClienteResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorNumero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="ArchivoRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaCarga" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Longitud" type="xs:int" />
          <xs:element minOccurs="0" name="Ruta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoArchivo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UltimaModificacion" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArchivoRequest" nillable="true" type="tns:ArchivoRequest" />
  <xs:complexType name="ArchivoResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArchivoResponse" nillable="true" type="tns:ArchivoResponse" />
  <xs:complexType name="HistorialClienteResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HistorialClienteResponse" nillable="true" type="tns:HistorialClienteResponse" />
  <xs:complexType name="ProductoRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductoRequest" nillable="true" type="tns:ProductoRequest" />
  <xs:complexType name="ProductoResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductoResponse" nillable="true" type="tns:ProductoResponse" />
  <xs:complexType name="coleccionProductoResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfProductoResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="coleccionProductoResponse" nillable="true" type="tns:coleccionProductoResponse" />
  <xs:complexType name="ArrayOfProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoResponse" nillable="true" type="tns:ProductoResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoResponse" nillable="true" type="tns:ArrayOfProductoResponse" />
  <xs:complexType name="coleccionNotasResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfNotaResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="coleccionNotasResponse" nillable="true" type="tns:coleccionNotasResponse" />
  <xs:complexType name="ArrayOfNotaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotaResponse" nillable="true" type="tns:NotaResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotaResponse" nillable="true" type="tns:ArrayOfNotaResponse" />
  <xs:complexType name="NotaResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotaResponse" nillable="true" type="tns:NotaResponse" />
  <xs:complexType name="NotaRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotaRequest" nillable="true" type="tns:NotaRequest" />
  <xs:complexType name="GuiaRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GuiaRequest" nillable="true" type="tns:GuiaRequest" />
  <xs:complexType name="GuiaResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="NUmeroGuia" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GuiaResponse" nillable="true" type="tns:GuiaResponse" />
</xs:schema>