Jadet/Connected Services/AdministradorServicio/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" />
  <xs:element name="guardarCatalogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q1:CatalogoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarCatalogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="guardarCatalogoResult" nillable="true" type="q2:CatalogoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaCatalogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q3:CatalogoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaCatalogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="bajaCatalogoResult" nillable="true" type="q4:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCatalogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q5:CatalogoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCatalogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="cargarCatalogoResult" nillable="true" type="q6:CatalogoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCatalogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q7:CatalogoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCatalogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="listarCatalogoResult" nillable="true" type="q8:ColeccionCatalogoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTipoCatalogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q9:TipoCatalogoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTipoCatalogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="listarTipoCatalogoResult" nillable="true" type="q10:ColeccionTipoCatalogoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarEstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q11:EstatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarEstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="guardarEstatusResult" nillable="true" type="q12:EstatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaEstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q13:EstatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaEstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="bajaEstatusResult" nillable="true" type="q14:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarEstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q15:EstatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarEstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="cargarEstatusResult" nillable="true" type="q16:EstatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarEstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q17:EstatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarEstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="listarEstatusResult" nillable="true" type="q18:ColeccionEstatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTipoEstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q19:TipoEstatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTipoEstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="listarTipoEstatusResult" nillable="true" type="q20:ColeccionTipoEstatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarTipoEstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q21:TipoEstatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarTipoEstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="cargarTipoEstatusResult" nillable="true" type="q22:TipoEstatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q23:ClienteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="guardarClienteResult" nillable="true" type="q24:ClienteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q25:ClienteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="bajaClienteResult" nillable="true" type="q26:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q27:ClienteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="cargarClienteResult" nillable="true" type="q28:ClienteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q29:ClienteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="listarClientesResult" nillable="true" type="q30:coleccionClientesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarHistorialCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q31:ClienteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarHistorialClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="cargarHistorialClienteResult" nillable="true" type="q32:HistorialClienteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subirFotos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q33:ArchivoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subirFotosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="subirFotosResult" nillable="true" type="q34:ArchivoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q35:ProductoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="guardarProductoResult" nillable="true" type="q36:ProductoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q37:ProductoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="bajaProductoResult" nillable="true" type="q38:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q39:ProductoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="cargarProductoResult" nillable="true" type="q40:ProductoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q41:ProductoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="listarProductosResult" nillable="true" type="q42:coleccionProductoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q43:NotaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarNotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="guardarNotaResult" nillable="true" type="q44:NotaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarNotas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q45:NotaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarNotasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="listarNotasResult" nillable="true" type="q46:coleccionNotasResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q47:NotaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarNotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="cargarNotaResult" nillable="true" type="q48:NotaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q49:NotaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaNotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="bajaNotaResult" nillable="true" type="q50:NotaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarDetalleNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q51:DetalleNotaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarDetalleNotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="guardarDetalleNotaResult" nillable="true" type="q52:DetalleNotaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarDetalleNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q53:DetalleNotaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarDetalleNotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="listarDetalleNotaResult" nillable="true" type="q54:coleccionDetalleNotaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarDetalleNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q55:DetalleNotaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarDetalleNotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="cargarDetalleNotaResult" nillable="true" type="q56:DetalleNotaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaDetalleNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q57:DetalleNotaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaDetalleNotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="bajaDetalleNotaResult" nillable="true" type="q58:DetalleNotaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generarGuias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q59:GuiaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generarGuiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="generarGuiasResult" nillable="true" type="q60:GuiaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enviarRecordatorios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q61:BaseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enviarRecordatoriosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="enviarRecordatoriosResult" nillable="true" type="q62:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cambiarEstatusPagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="request" nillable="true" type="q63:BaseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cambiarEstatusPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" minOccurs="0" name="cambiarEstatusPaginaResult" nillable="true" type="q64:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>