Jadet/Connected Services/SeguridadServicio/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Seguridad" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SernaSistemas.Jadet.WCF.Modelos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISeguridad_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="ISeguridad_IniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridad_CerrarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:CerrarSesion" />
  </wsdl:message>
  <wsdl:message name="ISeguridad_CerrarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CerrarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridad_cambiarPerfil_InputMessage">
    <wsdl:part name="parameters" element="tns:cambiarPerfil" />
  </wsdl:message>
  <wsdl:message name="ISeguridad_cambiarPerfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:cambiarPerfilResponse" />
  </wsdl:message>
  <wsdl:portType name="ISeguridad">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridad/IniciarSesion" message="tns:ISeguridad_IniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridad/IniciarSesionResponse" message="tns:ISeguridad_IniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CerrarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridad/CerrarSesion" message="tns:ISeguridad_CerrarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridad/CerrarSesionResponse" message="tns:ISeguridad_CerrarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cambiarPerfil">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridad/cambiarPerfil" message="tns:ISeguridad_cambiarPerfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridad/cambiarPerfilResponse" message="tns:ISeguridad_cambiarPerfil_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISeguridad" type="tns:ISeguridad">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciarSesion">
      <soap:operation soapAction="http://tempuri.org/ISeguridad/IniciarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CerrarSesion">
      <soap:operation soapAction="http://tempuri.org/ISeguridad/CerrarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiarPerfil">
      <soap:operation soapAction="http://tempuri.org/ISeguridad/cambiarPerfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Seguridad">
    <wsdl:port name="BasicHttpBinding_ISeguridad" binding="tns:BasicHttpBinding_ISeguridad">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SernaSistemas.Jadet.WCF/Seguridad/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>